%h1 Envoice

%ul
  %li
    = link_to "Invoices", invoices_path
    = link_to "Clients", clients_path
    - if current_user
      = link_to "My Account", current_user unless current_user.nil?
    - else
      = link_to "Log In", new_user_session_path